.producto .description {
  text-align: center;
}
.producto .descripcion {
  font-size: 15px;
}

.producto:hover {
  transition: 0.3s ease-in;
  cursor: pointer;
}

.addToCartBttn {
  background-color: #5cb85c;
  border: 1px solid #5cb85c;
  color: white;
  min-width: 100px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
}

.addToCartBttn:hover {
  background-color: #5cb85c;
  color: black;
  cursor: pointer;
}

@keyframes slide {
  0% {
    margin-left: 0%;
  }
  33% {
    margin-left: 0%;
  }

  35% {
    margin-left: -100%;
  }
  66% {
    margin-left: -100%;
  }

  69% {
    margin-left: -200%;
  }
  99% {
    margin-left: -200%;
  }
}
