/* Estilos para el contenedor del formulario */
.CrearProductoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  padding: 1rem;
}

/* Estilos para el grupo del formulario */
.FormAumento {
  margin-bottom: 1rem;
}

.FormAumento label {
  font-size: 1.2rem;
  font-weight: bold;
}

.FormAumento .form-control {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem;
  width: 100%;
  font-size: 1rem;
}

/* Estilos para el botón "Aceptar" */
.BtnVolver {
  margin-top: 15px;
  margin-right: 10px;
  padding: 5px 15px;
  text-decoration: none;
  color: #fff;
  background-color: #5cb85c;
  border: 1px solid #4cae4c;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.BtnVolver:hover {
  background-color: #4cae4c;
}
