/* Estilos generales */
.CrearProductoContainer {
  margin-top: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45rem;
  padding: 1rem;
}

/* Formulario */
.CrearProductoContainer .form-control {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem;
  width: 100%;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.CrearProductoContainer .form-label {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  width: 20rem;
  display: inline-block;
}

/* Botones Volver y aceptar*/
.CrearProductoContainer .btn-aceptar,
.CrearProductoContainer .VolverBoton > button,
.CrearProductoContainer .btn-link {
  margin-right: 10px;
  padding: 5px 15px;
  text-decoration: none;
  color: #fff;
  background-color: #5cb85c;
  border: 1px solid #4cae4c;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.CrearProductoContainer .btn-aceptar:hover,
.CrearProductoContainer .VolverBoton > button:hover,
.CrearProductoContainer .btn-link:hover {
  background-color: #4cae4c;
}
